
    <mat-toolbar color="primary">
        <span>Pizzeria da Tiziano</span>
        <mat-icon (click)="sidenav.toggle()" class="cart">shopping_cart</mat-icon>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">

      <mat-sidenav position="end" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <h2 class="sidenav-text">Confirm your order</h2>
        <ul>
          <li *ngFor="let pizza of order">{{pizza.name}}: {{pizza.price}}</li>
        </ul>
        <h4 *ngIf="cart.costo!=0" class="sidenav-text">costo complessivo: {{this.cart.costo}}</h4>

        </mat-sidenav>

        <mat-sidenav-content>
            <h2 class="title">Order Here</h2>

            <app-pizzacards></app-pizzacards>
        </mat-sidenav-content>

    </mat-sidenav-container>

