.cart {
  position: absolute;
  right: 30px;
  background-color: #034f84;
}

mat-icon{
  padding-left: 10px;
}

app-pizzacards {
    height: 100%;
}

mat-sidenav {
    width: 320px;
}

.title {
    margin-left: 50px;
    margin-top: 30px;
}

.sidenav-text {
    margin-left: 30px;
    margin-top: 30px;
}

#send_button{
  background-color: #034f84;
  margin-left: 90px;
}

.tracking{
  position: fixed;
  left:0;
  bottom: 0;
}
