.cart {
  position: absolute;
  right: 30px;
  background-color: #034f84;
  border: 1px solid black;
}

mat-icon{
  padding-left: 10px;
}

.title-toolbar {
  position: absolute;
  margin-left: 20px;
}

app-pizzacards {
    height: 100%;
}

mat-sidenav {
    width: 320px;
}

.title {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidenav-text {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.tracking{
  position: fixed;
  left:0;
  bottom: 0;
}


.example-container {
  position: relative;
  height: 100%;
}

.list {
  margin-bottom: 35px;
  height: 30px;
  list-style-type: none;
}

.divider {
  margin-bottom: 20px;
}

.submit-button{
  background-color: #034f84;
  border: 1px solid black;
  color: #FAFAFA;
  margin-left: 90px;
}
