<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Pizze Classiche"> 
        <mat-selection-list #pizzasClassic>
            <mat-list-option *ngFor="let pizzaClassic of typesOfPizzaClassic">
              {{pizzaClassic}}
            </mat-list-option>
        </mat-selection-list>
    </mat-tab>
    <mat-tab label="Pizze Speciali"> 
        <mat-selection-list #pizzasSpecial>
            <mat-list-option *ngFor="let pizzaSpecial of typesOfPizzaSpecial">
              {{pizzaSpecial}}
            </mat-list-option>
        </mat-selection-list>
    </mat-tab>
    <mat-tab label="Panini">
        <mat-selection-list #sandwich>
            <mat-list-option *ngFor="let sandwich of typesOfSandwiches">
              {{sandwich}}
            </mat-list-option>
        </mat-selection-list>
    </mat-tab>
  </mat-tab-group>

